:root {
  color-scheme: light;
  --color-primary: #d7d7d7;
  --color-background: #fff;
  --color-background-primary: #ebebeb;
  --content-width: 1280px;
  --box-shadow: 0 2px 6px 2px #0004;
  --box-shadow-active: 0 0 6px 2px #0004;
  --drop-shadow: drop-shadow(0 2px 6px #0004);
  --font: Nunito, Arial, serif;
  --font-heading: "Alex Brush", Arial, serif;
  --font-small-heading: "Roboto Flex", Arial, serif;
  --transparency: url("data:image/webp;base64,UklGRiYAAABXRUJQVlA4TBkAAAAvD8ADAAWRto2Te5h/fYXnEf2fgDj+cfwDAA==");
}

* {
  font-family: var(--font);
  line-height: normal;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
}

html {
  min-height: 100%;
  display: flex;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--color-background);
}

.container {
  margin: 40px auto 60px;
  max-width: var(--content-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 40px;

  > :is(h1, h2, h3, h4, h5, h6) + p {
    margin-top: -24px;
  }
}

section.container + section.container {
  margin-top: 0;
}

section.contrast {
  background-color: var(--color-background-primary);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 24px;

  @media (max-width: 768px) {
    gap: 16px;
  }
}

.spacer {
  flex: 1;
}

[hidden] {
  display: none !important;
}

p {
  margin: 0;
}

img {
  display: block;
}

.icon {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;

  * {
    font-family: "Material Symbols Outlined";
    font-size: inherit;
    color: inherit;
  }
}

.fa {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  * {
    font-family: "Font Awesome 6 Brands";
    font-size: inherit;
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: var(--font-small-heading);
  font-weight: 600;
}

h1, h1 * {
  font-size: 56px;
  font-family: var(--font-heading);
  line-height: 1;
  margin: 6px 0;
}

h2, h2 * {
  font-size: 40px;
  margin: 4px 0;
}

h3, h3 * {
  font-size: 28px;
  margin: 3px 0;
}

hr {
  max-width: calc(min(100vw, var(--content-width)) - 80px);
  width: 100%;
  border: none;
  background-color: #000;
  height: 1px;
  opacity: .25;
}

button, .button {
  all: unset;
  background-color: #000;
  color: #fff !important;
  display: flex;
  font-size: 20px;
  padding: 12px 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
  user-select: none;
  cursor: pointer;
  line-height: 1;
  text-shadow: none;
  transition: box-shadow .15s ease, transform .15s ease, opacity .15s ease;
  max-width: min(100%, 256px);
  box-sizing: border-box;

  * {
    color: #fff;
  }

  &:hover {
    box-shadow: var(--box-shadow);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: var(--box-shadow-active);
  }

  .icon {
    font-size: 22px;
    height: 0;
  }

  &.white {
    background-color: #fff;
    color: #000 !important;

    * {
      color: #000;
    }
  }

  &.secondary {
    background-color: initial;
    border: 2px solid #000;
    color: #000;

    * {
      color: #000;
    }

    &.white {
      border: 2px solid #fff;
      color: #fff;

      * {
        color: #fff;
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .5;
    box-shadow: initial;
    transform: initial;
  }
}

input,
textarea,
select {
  all: unset;
  border: none;
  background-color: #fff;
  padding: 12px 16px;
  outline: 2px solid transparent;
  transition: outline .15s ease;
  color: #000 !important;
  min-height: 46px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}

input::-webkit-file-upload-button {
  display: none;
}

select {
  cursor: pointer;
  padding-right: 48px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 -960 960 960" fill="%23000"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>');
  background-position: calc(100% - 12px) center;
  background-repeat: no-repeat;
}

blockquote {
  position: relative;
  margin: 12px 0 12px 16px;
  padding: 4px 0 4px 12px;

  &::before {
    content: "";
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
  }
}

.mobile {
  display: none !important;
}

@media (max-width: 768px) {
  .mobile {
    display: flex !important;
  }

  .desktop {
    display: none !important;
  }

  .container {
    margin: 30px auto 40px;
    padding: 0 20px;
    gap: 16px;

    > :is(h1, h2, h3, h4, h5, h6) + p {
      margin-top: -16px;
    }
  }

  * {
    font-size: 14px;
  }

  h1, h1 * {
    font-size: 40px;
    margin: 5px 0;
  }

  h2, h2 * {
    font-size: 32px;
  }

  h3, h3 * {
    font-size: 24px;
  }

  hr {
    max-width: calc(100vw - 40px);
  }

  button, .button {
    font-size: 16px;
    padding: 10px 24px;
    gap: 8px;

    .icon {
      font-size: 18px;
    }
  }
}

/* Splide */

.splide.is-overflow.pagination-below {
  padding-bottom: 40px;

  .splide__pagination {
    bottom: 0 !important;
    left: 0 !important;
  }
}

.splide__pagination {
  gap: 4px;
  bottom: 16px !important;
  left: initial !important;
}

.splide__pagination__page {
  background-color: #000 !important;
  opacity: 1 !important;
  transform: initial !important;
  width: 24px !important;
  height: 24px !important;
  margin: 0 !important;
  position: relative;
  display: block !important;
  border-radius: 0 !important;
}

.splide__pagination__page::before,
.splide__pagination__page.is-active::after {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: #fff;
}

.splide__pagination__page.is-active::after {
  inset: 4px;
  background-color: #000;
}

.splide__arrow {
  transform: translateY(-50%) !important;
  transition: opacity .15s ease;

  &[disabled] {
    opacity: 0 !important;
  }
}