.flatpickr-calendar {
  background-color: var(--color-background-primary) !important;
  border-radius: 14px !important;
  border: 2px solid var(--color-primary) !important;
  box-shadow: none !important;
  filter: var(--drop-shadow);
  width: 420px !important;
  padding: 10px 0 !important;
  display: flex !important;
  flex-direction: column;

  * {
    background: initial !important;
  }

  &::before,
  &::after {
    display: none !important;
  }

  &.arrowTop  {
    translate: 0 8px;
  }

  &.arrowBottom  {
    translate: 0 -50px;
  }

  &:not(.open) {
    display: none !important;
  }
}

.flatpickr-months .flatpickr-month,
.flatpickr-weekday {
  color: #000 !important;
}

.flatpickr-time-separator {
  color: #000 !important;
  height: initial !important;
  font-size: 1rem !important;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  fill: #000 !important;
}

.flatpickr-time {
  border-top: none !important;
  border-bottom: 2px solid var(--color-primary) !important;
  padding-bottom: 10px !important;
  margin-bottom: 10px;
  height: initial !important;
  gap: 10px;
  line-height: initial !important;
  justify-content: center;
  position: relative;
  max-height: initial !important;

  .numInputWrapper {
    height: 34px !important;
    max-width: 68px;
  }

  &::before {
    content: "Time :";
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
}

.flatpickr-innerContainer {
  order: 2;
  border-top: 2px solid var(--color-primary);
  margin-top: 10px !important;
  padding: 10px 10px 0;
}

.flatpickr-monthDropdown-months {
  background-color: #fff !important;
  padding: 0 24px 0 16px !important;
  font-size: 1rem !important;
  border-radius: 8px !important;
  margin: 0 !important;
  font-weight: 400 !important;
  height: 36px !important;
  background-position: right 4px center !important;
  appearance: none !important;
  background-repeat: no-repeat !important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23000"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>') !important;
}

.numInputWrapper {
  background-color: #fff !important;
  border-radius: 8px !important;

  input {
    padding: 6px 24px !important;
    text-align: center;
    font-size: 1rem !important;
    font-weight: 400 !important;
    outline: none !important;
    min-height: 36px;
  }

  span {
    border: none !important;
    padding: 0 !important;
    width: 24px !important;

    &::after {
      border-bottom-color: #000 !important;
      border-top-color: #000 !important;
      left: 50%;
      top: 50% !important;
    }

    &.arrowUp::after {
      transform: translate(-50%, calc(-50% + 1px));
    }

    &.arrowDown::after {
      transform: translate(-50%, calc(-50% - 2px));
    }
  }
}

.flatpickr-day {
  max-width: calc(100% / 7) !important;
  border: none !important;
  user-select: none;
  color: #000 !important;

  &.nextMonthDay,
  &.prevMonthDay {
    opacity: 0.5 !important;
  }

  &.flatpickr-disabled {
    opacity: 0.25 !important;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 2.5px;
    border-radius: 8px;
  }

  &:hover::before {
    border: 1px solid color-mix(in srgb, var(--color-primary) 50%, transparent);
  }

  &.selected::before {
    border: 1px solid var(--color-primary);
  }

  &.today::after {
    content: "";
    position: absolute;
    inset: 2.5px;
    border-radius: 8px;
    background-color: var(--color-primary);
    opacity: 0.25;
    z-index: -1;
  }
}

.flatpickr-days,
.dayContainer,
.flatpickr-rContainer {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.dayContainer {
  margin-top: 10px;
}

.flatpickr-weekdays {
  height: 34px !important;
  user-select: none;
}

.flatpickr-months {
  gap: 10px;
  align-items: center;
  order: 1;
}

.flatpickr-month {
  height: initial !important;
}

.flatpickr-current-month {
  padding: 0 !important;
  width: 100% !important;
  position: initial !important;
  display: flex !important;
  gap: 10px;
  align-items: center;
  height: initial !important;

  > * {
    flex: 1;
  }
}

.flatpickr-prev-month,
.flatpickr-next-month {
  position: initial !important;
  width: 16px !important;
  height: 16px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: initial;

  &.flatpickr-disabled {
    display: flex !important;
    cursor: not-allowed !important;
    opacity: 0.25;
  }
}

@media (max-width: 512px) {
  .flatpickr-calendar {
    width: calc(100vw - 12px * 2) !important;
    left: 12px !important;
  }
}